$white: #FFFFFF;
$red: #F03000;
$light-grey: #80808080;
$background-grey: #F0F0F0;
$black: #000000;
$grey: #888888;
$dark-grey: #444444;

$montserrat: 'Montserrat', sans-serif;
$open: 'Open Sans', sans-serif;


.body {
    background-color: $background-grey;

}
.container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $grey;
    background-color: $white;
    padding: 20px;
    font-family: $montserrat;
    font-weight: 400;


}

.menu {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin-bottom: 50px;

}

.menu__item {
    color: $red;
    list-style-type: none;
    margin: 0;
}


.menu__link {
    color: $red;
    text-decoration: none;
    font-size: 18px;
    
}

.menu__link:hover,
.menu__link:focus {
    color: $white;
    border: 1px solid $red;
    padding: 20px;
    background-color: $red;


}


.logo {
    width: 235px;
    height: 30px;
    position: relative;
    left: 25%;
    margin-top: 16px;
    margin-bottom: 30px;
}



.card-photo__image {
    width: 100%;

}


.card-photo {
    margin: 0;
    position: relative;
    color: $white;


}

.card-photo__box {
    border: 1px solid $red;
    background-color: $red;
    color: $white;
    padding: 10px;
    font-size: 18px;
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    
}


.card-photo_title {
    font-weight: 600;
}

.card-photo__title--big {
    font-size: 28px;
}

.card-photo__title--first {
    position: absolute;
    left: 20px;
    bottom: 60px;
    margin: 0;

}

.card-photo__title--second {
    position: absolute;
    left: 20px;
    top: 84px;
    margin: 0;

}

.card-photo__title--small {
    position: absolute;
    left: 20px;
    bottom: 23px;
    font-size: 20px;
    margin: 0;
}
.card-photo__text {
    position: absolute;
    left: 20px;
    bottom: 21px;
    font-family: $open;
    font-size: 16px;
    font-weight: 400;
    margin: 0;

}

.card-photo {
    margin-bottom: 20px;
}

.card {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;

}

.card-service {
    border: 1px solid $background-grey;
    background-color: $background-grey;
    display: flex;
    align-items: center;
      
}

.card__title {
    margin-left: 94px;
}

.card__text {
    margin-left: 94px;
 
}

.card {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 40px;


}

.card-news {
    border: 1px solid $background-grey;
    background-color: $background-grey;
    padding: 20px;
}

.card-news__title {
    color: $red;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.card-news__date {
    margin: 0;
    color: $grey;

}

.card-news__text {
    margin: 0;

}

h3 {
    font-size: 24px;
    font-weight: 600;
}

.footer {
    color: $white;
    background-color: $dark-grey;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}